/* 
    Created on : Apr 22, 2014, 8:59:39 PM
    Author     : A9712
*/
body {
     text-align: center;
     min-width: 1000px;
     padding: 0;
     margin: 0;
 }

 #wrapper {
     text-align: left;
     width: 80%;
     margin-left: auto;
     margin-right: auto;
 }

 #content {
     background-color: lightgrey;
     border: 3px solid black;
     margin: 0 0 0 0;
 }

 #content .inner {
     padding-top: 1px;
     margin: 0 10px 10px 10px;
 }

 #side {
     float: right;
     width: 60px;
     margin: 0;
 }

 #side .inner {
     padding-top: 1px;
     margin: 0 10px 10px 10px;
 }

 #footer {
     margin-top: 10px;
     clear: both;
 }

 #footer .inner {
     margin: 10px;
 }
 
 #header {
     font-family: "times", "courier", "arial"
 }
 
 #header a {
     text-decoration: none;
     outline: none;
     background: none;
     color: black;
     font-weight: bold;
 }
 
 #header a:hover {
     text-decoration: none;
     outline: none;
     background: none;
     color: darkgray;
     font-weight: bold;
 }
 
 #header h1 {
     margin: 0 0 0 0;
     padding-top: 60px;
 }
 
 a:visited {
     color: lightgray;
 }
 
 nav {
     text-align: right;
 }
 
 h4 {
     float: right;
     margin: 85px 10px 0 475px;
 }
 
 h4 a:hover {
     color:green;
     text-decoration: none;
 }
 
#submit_button {
    padding: 0 0 25px;
    margin: 0 115px;
}

#table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    width: 480px;
    text-align: left;
    border-collapse: collapse;
    border: 1px solid black;
    margin: 20px;
}

/***** Navigation Menu *******/
ul#menu{
    padding: 100px 0 0 0;
    margin: 0 0 0 0;
    height: 40px;
    //position: relative;
    margin: 0;
    text-align: right;
}

ul#menu li {
    display: inline;
    list-style: none;
}

ul#menu li a{
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    background-color: lightgray;
    color: black;
    border-radius: 4px 4px 0 0;
}

ul#menu li a:hover {
    color: black;
    background-color: darkgray;
    text-decoration: none;
}

ul#menu li a:active {
    background-color: darkgray;
    text-decoration: none;
}
/***** Navigation Menu *******/

.login {
    margin-left: 25%;
    margin-right: 25%;
}

.login form {
    margin-left: 25%;
}

.leftSubmit {
    text-align: right;
}